{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "include": [
              "js/"
            ],
            "exclude": [
              "**/tests.js",
              "**/*.test.js"
            ]
          }
        ]
      ]
    }
  }
}
